
.card {
  background-color: #332E2E;
  color: #FFF9F4;
  border-radius: 8px;
  padding: 4%;
  margin: 16px;
  width: 80%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
}

.delete-button {
  background-color: #ce5858;
  width: 10%;
  height: 5%;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-per-kg{
  display: flex;
  font-size: 0.6rem;
  font-weight:bold; 
  color: #d49764;
  text-align: right;
  justify-content: end;
  margin-top: 6%;
}
.price-per-un{
  display: flex;
  font-size: 1rem;
  font-weight:bold; 
  color: #d49764;
  text-align: right;
  margin-top: 6%;
  justify-content: end;
}

.quantity {
  font-size: 0.9rem;
  color: #dfdfdf;
  font-weight: 800;
  text-align: left;
  margin-top: 4px;
  justify-content: end;
}

.price {
  font-size: 1.2rem;
  color: #FFF9F4;
  font-weight: bold;
  text-align: right;
}
