.caixa{
    display: flex;
    flex-direction: column;
}

.caixa > div, .caixa > input{
    margin-bottom: 10px;
}

.caixa__quant{
    display: flex;
    justify-content: space-around;
}

.caixa__quant_input{
    width: 30px;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.teclas{
    width: 100%;
    justify-self: center;
}

.teclas__apagar{
    grid-column: span 2;
}

.teclas__confirmar{
    grid-column: span 3;
}

.teclas, .teclas__apagar, .teclas__confirmar{
    height: 50px;
}

.borda_grossa{
    border: 2px solid grey;
    border-radius: 5px;
}