.method_window {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #A98467;
    align-items: center;
    left: 0;
    z-index: 2;
    height: 82vh;
    max-height: 88vh;
    bottom: 0;

}
.method_title{
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
    color: #332E2E;
}

.method_payment {
    margin-top: 5px;
    background-color: #332E2E;
    padding: 10px;
    width: 90%;
    height: 32px;
    font-weight: 800;
    color: white;
    text-align: right;
    margin-bottom: 5px;
    border-radius: 100px;
    border:none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  