html body{
  background-color: #725844;
  width: 100%;
  margin: 0;
font-family: 'Open Sans', sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}