.container_cart{
  width: 90vw;
  height: 90vh;
  background-color: #D9D9D9;
  border-radius: 12px;
  border: 1px solid #000;

}
















.menu_cart_{
  display: flex;
  flex-direction: column;
  width: 98%;
}

.menu_total{
  width: 100%;
  background-color: white;
}
.menu_confirm{
  display: flex;
  width: 100%;
  background-color: white;
}